@model RazorEngine.ViewModels.SuccessViewModel
@using RazorLight

@{
	Layout = "Templates._layout";
}

@*@section TestSection {
		Wee this worked
	}*@

<div>Hi, @Model.Name. <br /> Congratulations on turning @Model.Age today!</div>